* {
    margin: 0;
    padding: 0;
    font-family: '黑体';
}

li {
    list-style: none;
    line-height: 1.5;
}

#wrapper {
    background: url(../images/background.png) no-repeat;
    width: 583px;
    height: 359px;
    margin: 0 auto;
}

#led-left {
    width: 413px;
    height: 359px;
    float: left;
}

#panel-right {
    width: 170px;
    height: 359px;
    float: left;
}

#led {
    width: 301px;
    height: 226px;
    margin: 51px 0 0 60px;
    padding: 10px;
    background: #00FF80;
}

.btn {
    width: 50px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
}

#up, #down, #left, #right {
    width: 30px;
    height: 30px;
    margin: 20px 0 0 70px;
}

#left, #right {
    float: left;
    margin: 0 0 0 45px;
}

#right {
    margin-left: 25px;
}

#down {
    margin-top: 30px;
}

#menu, #ent, #disp, #dim {
    float: left;
}

#menu {
    margin: 22px 0 0 30px
}

#ent{
    margin: 22px 0 0 10px
}

#disp {
    margin: 18px 0 0 30px
}

#dim {
    margin: 18px 0 0 10px
}

#nav-status {
    margin: 15px 0 0 55px;
}

#power {
    margin: 35px 0 0 85px;
}

.active, .select {
    background: #000;
    color: #FFF;
    display: inline-block;
}

.select-box {
    width: 80px;
}

